@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.title {
    display: table-cell;
    vertical-align: middle;
    border-right: 2px solid black;
    animation: cursor 0.2s ease infinite;
}

body {
    margin-left: 8%;
    margin-right: 8%;
}

::-webkit-scrollbar {
    display: none;
}

#container {
    height: 100vh;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.pages {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.left {
    width: 45%;
    float: left;
    flex: 1;
    overflow: auto;
}

.right {
    width: 50%;
    float: right;
    flex: 1;
    overflow: auto;
}

.intro {
    text-align: center;
}

.profile_img {
    width: 400px;
    height: 500px;
    border-radius: 8%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.profile_link {
    width: 48px;
    height: 48px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
}